@charset "UTF-8";
body {
  font-weight: 400;
  font-size: 1rem;
  background-color: #EFF4F7;
}

h1 {
  font-family: "Federo";
  font-size: 70px;
  line-height: 100%;
}

h2 {
  font-family: "Federo";
  font-size: 50px;
  line-height: 120%;
}

h3 {
  font-family: "Federo";
  font-size: 24px;
  line-height: 150%;
}

h4 {
  font-family: "Federo";
  font-size: 20px;
  line-height: 150%;
}

p, span, div, ul, li, label, input {
  font-family: "NotoSans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

/*-------------------------------
				header
--------------------------------*/
.offer {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.top_menu {
  display: unset;
  justify-content: unset;
}

.navi {
  padding: 20px;
  overflow: hidden;
  display: unset;
  justify-content: unset;
}

.wrapper {
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.2;
  background-color: red;
  width: 100%;
  height: auto;
  display: block;
  z-index: 7;
}

.mainscreen-video {
  position: absolute;
  max-width: 2250px;
  width: 100%;
  height: auto;
}

.mainscreen-video::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: red;
  z-index: 2;
}

.offer_place {
  height: 90px;
  border: 0px solid green;
  display: flex;
  align-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(239, 244, 247, 0.75);
  z-index: 9;
}

.header {
  display: none;
}

.offer_info {
  margin: 244px 0 361px 0;
}
.offer_info h1 {
  font-size: 72px;
  color: #009CDB;
  font-weight: normal;
  line-height: 100%;
  margin: 0 105px;
}
.offer_info p {
  margin: 35px 0 43px 105px;
  font-size: 18px;
  line-height: 150%;
}
.offer_info a {
  margin: 0 105px;
}

.podrobnee_btn {
  color: #009CDB;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.podrobnee_btn .button-text {
  margin-left: 20px;
}

.rounded {
  position: absolute;
  bottom: 40px;
  left: 3.5%;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 40px;
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav .active {
  color: #009CDB !important;
}

div {
  border: 0px dotted red;
}

.logo {
  margin-right: 35px;
  margin-left: 61px;
}

.navi {
  overflow: hidden;
}

.nav_item {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  position: relative;
  padding-bottom: 4px;
  overflow: hidden;
}

.nav_item:hover:after {
  transform: translateX(110%);
  transition: transform 0.8s cubic-bezier(0.58, 0.3, 0.005, 1);
  opacity: 1;
}

.nav_item:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  margin-top: 2px;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 2px solid;
  transform: translateX(-110%);
}

.nav_item:hover:after {
  transform: translateX(110%);
  transition: transform 0.8s cubic-bezier(0.58, 0.3, 0.005, 1);
}

.nav_item:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  margin-top: 2px;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 2px solid;
  transform: translateX(-110%);
}

nav a:not(:last-child) {
  margin-left: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #73869F;
  margin-right: 6px;
}

nav a:last-child {
  margin-left: 60px;
  font-size: 16px;
  line-height: 150%;
  color: #00294C;
  border-bottom: 2px solid #73869F;
}

.about_offer_img {
  width: 105%;
  height: 97.5%;
  margin-left: -15px;
  margin-top: -15px;
}

/*-------------------------------
			end header
--------------------------------*/
/*-------------------------------
			breadthums
--------------------------------*/
.breadthums {
  position: absolute;
  top: 125px;
  display: block;
  left: 34px;
}
.breadthums li {
  display: inline-block;
  font-family: "NotoSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  margin-right: 34px;
}
.breadthums li a {
  color: #73869F;
}
.breadthums li .active {
  color: #00294C;
}
.breadthums li .active::before {
  content: "";
  background: #00294C;
  border-radius: 50px;
  width: 5px;
  height: 5px;
  display: inline-flex;
  position: relative;
  top: -2px;
  left: -6px;
}

/*-------------------------------
		end	breadthums
--------------------------------*/
/*-------------------------------
			switcher
--------------------------------*/
.switcher {
  display: inline-flex;
  vertical-align: sub;
}
.switcher .lang {
  margin: 0 10px;
}

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.toggle::before {
  content: "";
  position: relative;
  top: 9px;
  left: 3px;
  width: 30px;
  height: 2px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.toggle span {
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  display: block;
  background: #009CDB;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}

.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 53px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx:checked + .toggle:before {
  background: #9A9999;
}

#cbx:checked + .toggle span {
  background: #009CDB;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#cbx:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.center {
  display: flex;
  align-items: center;
  align-self: center;
}

.lang {
  font-size: 14px;
  color: #73869F;
}

/*-------------------------------
		end	switcher
--------------------------------*/
/*-------------------------------
			Расходники
--------------------------------*/
#index section:not(:last-child) {
  margin-top: 220px;
  margin-left: 49px;
}
#index section:not(:last-child) .card {
  max-width: 300px;
  max-height: 386px;
  padding: 10px;
  margin: 50px 3px;
  background-color: #EFF4F7;
  box-shadow: -5px -5px 10px #fff, 5px 5px 10px #D1D9E6;
}
#index section:not(:last-child) .card img {
  border-radius: 10px;
  max-width: 280px;
  width: 100%;
  height: auto;
}
#index .swiper-container {
  margin-top: -50px;
  padding-bottom: 50px;
}
#index .swiper-container p {
  padding: 20px 20px 0 0;
  color: #00294C;
}

#index .swiper-button-next, #index .swiper-button-prev {
  position: absolute;
  top: unset;
  bottom: 25px;
}

#index .swiper-button-next::after, #index .swiper-button-prev::after {
  content: "";
  background-image: url("/assets/img/arrow.svg");
  width: 70px;
  height: 40px;
  padding: 20px;
}

#index .swiper-button-next {
  transform: rotate(180deg);
  right: unset;
  left: 90px;
  bottom: 17px;
}

#index .swiper-button-prev {
  transform: rotate(0deg);
  right: unset;
  left: 20px;
  bottom: 26px;
}

/*-------------------------------
		end	Расходники
--------------------------------*/
/*-------------------------------
	Навигация вертикальная
--------------------------------*/
.left_nav {
  transform: rotate(-90deg);
  color: #73869F;
  font-size: 14px;
  font-weight: bold;
  margin-top: -47px;
  margin-left: -40px;
}
.left_nav img {
  position: relative;
  top: -40px;
  z-index: 1;
  left: 30px;
}
.left_nav span {
  font-weight: 700;
  text-transform: lowercase;
}

section h2 {
  font-weight: normal;
  font-size: 50px;
  color: #00294C;
  margin-bottom: 50px;
}

section .desc {
  margin-bottom: 35px;
}

/*-------------------------------
	end Навигация вертикальная
--------------------------------*/
/*-------------------------------
	 	Почему мы блок 
--------------------------------*/
.med_why ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 135px;
}
.med_why li {
  max-width: 257px;
  padding: 5px;
  margin: 0 0 60px 0;
  list-style-image: url("/assets/img/change_lang.png");
}
.med_why li span {
  font-family: "Federo" !important;
  position: relative;
  top: -9px;
  left: 20px;
  color: #00294C;
  font-size: 24px;
}

/*-------------------------------
	end 	Почему мы блок 
--------------------------------*/
/*-------------------------------
	 	совместное фото 
--------------------------------*/
.med_photo {
  margin-top: 100px !important;
}
.med_photo img {
  width: 100%;
}

/*-------------------------------
	end 	совместное фото
--------------------------------*/
/*-------------------------------
			aboutPage
--------------------------------*/
#aboutPage .offer {
  background-image: none;
  overflow: hidden;
}
#aboutPage .med_about {
  margin-top: 100px !important;
  padding-bottom: 120px;
}
#aboutPage .left_nav {
  transform: rotate(-90deg);
  color: #73869F;
  font-size: 14px;
  font-weight: bold;
  margin-top: -12px;
  margin-left: -40px;
}
#aboutPage .about_text_col3 {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 1fr;
  font-size: 16px;
  line-height: 150%;
  color: #73869F;
  margin-top: 150px;
  overflow: hidden;
}
#aboutPage .about_text_col3 div {
  width: 80%;
}
#aboutPage .about_text_col3 ul {
  padding: 0;
  margin: 0;
  margin-top: -10px;
}
#aboutPage .about_text_col3 ul .cifra {
  font-size: 40px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #73869F;
  text-shadow: -3px -3px 3px #FFFFFF, 3px 3px 3px #AABCD3;
  margin-bottom: 20px;
}
#aboutPage .about_text_col3 ul .line {
  width: 135%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 35px;
  position: relative;
}
#aboutPage .about_text_col3 ul .line img {
  position: relative;
  top: -12px;
}
#aboutPage .about_text_col3 ul .cifra_desc {
  font-family: "Federo" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #00294C;
  max-width: 300px;
}

/*-------------------------------
			aboutPage
--------------------------------*/
/*-------------------------------
			честность
--------------------------------*/
#aboutPage .med_about {
  margin-top: 100px;
}
#aboutPage .med_work {
  margin-top: 120px;
  background: #73869F;
  border-radius: 10px;
  margin-left: -49px;
  padding-left: 105px;
  padding-top: 150px;
  color: white !important;
}
#aboutPage .med_work h2 {
  color: white !important;
}
#aboutPage .med_work span {
  color: white !important;
}

#aboutPage section {
  margin-left: 49px;
}
#aboutPage section .about_text_col4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
  color: #B5C7DD;
  margin-bottom: 194px;
}
#aboutPage section .about_text_col4 p {
  width: 80%;
}

.med_work h2 {
  max-width: 311px;
}

.commrads .doc {
  background-color: #6D8099;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: -5px -5px 10px #889AB3, 5px 5px 10px #5E7087;
  position: relative;
}
.commrads .doc p {
  color: white;
  max-width: 270px;
  padding: 20px 5px 0 5px;
}
.commrads .doc img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.commrads .doc a[href] {
  color: #B5C7DD;
  padding-left: 5px;
}
.commrads .doc hr {
  border: none;
  border-top: 1px solid #8498B2;
  margin: 5px 0;
  padding: 0;
}
.commrads .doc .doc_info {
  color: #B5C7DD;
  font-size: 14px;
  position: relative;
  bottom: 0;
  display: block;
  opacity: 0;
  transition: 1s;
}

.doc_image {
  width: 100%;
  position: relative;
}

.doc_image:after {
  content: "";
  background: rgba(115, 134, 159, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.description_title {
  display: block;
  transition: 1s;
  height: auto;
  overflow: hidden;
  margin-bottom: -50px;
}

.doc:hover .doc_image:after {
  content: "";
  background: rgba(115, 134, 159, 0.4);
  transition: 0.2s;
  border-radius: 8px;
  transition: 1s;
}

.doc:hover .doc_info {
  transition: 1s;
  display: block;
  opacity: 1;
}

.doc:hover .description_title {
  display: block;
  transition: 1s;
  bottom: 85px;
  background-color: #6D8099;
}

.description_title {
  display: block;
  transition: 1s;
  height: auto;
  overflow: hidden;
  position: relative;
  bottom: 0px;
}

#aboutPage .swiper-container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin-right: -30px;
}

#aboutPage .swiper-container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.box {
  width: auto;
  height: 55px;
  display: block;
  background-color: #73869F;
  margin: -25px -25px 10px -25px;
}

.box2 {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 42px;
  margin-left: -11px;
  margin-right: -15px;
  box-shadow: -5px -5px 10px #889AB3;
}

/*-------------------------------
		end	честность
--------------------------------*/
/*-------------------------------
	 		 Банки
--------------------------------*/
.med_banks {
  margin-top: 198px;
  margin-bottom: 230px;
  position: relative;
}
.med_banks .banks {
  max-width: 228px;
  height: 118px;
}
.med_banks .banks img {
  box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px #D1D9E6;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
}

#aboutPage .swiper-button-next, #aboutPage .swiper-button-prev {
  position: absolute;
  top: unset;
  bottom: 0px;
}

#aboutPage .swiper-button-next::after, #aboutPage .swiper-button-prev::after {
  content: "";
  background-image: url("/assets/img/arrow.svg");
  width: 70px;
  height: 40px;
  padding: 20px;
}

#aboutPage .swiper-button-next {
  transform: rotate(180deg);
  right: unset;
  left: 90px;
  bottom: 0px;
}

#aboutPage .swiper-button-prev {
  transform: rotate(0deg);
  right: unset;
  left: 20px;
  top: 41px;
  position: relative;
}

#aboutPage .med_banks .swiper-container {
  padding-top: 15px !important;
  padding-left: 15px !important;
}

/*------------------
/*-------------------------------
	 	end	Банки
--------------------------------*/
/*-------------------------------
	 		О компании
--------------------------------*/
#index .med_about {
  margin-top: 120px !important;
  margin-bottom: 150px;
}

.about_text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 16px;
  line-height: 150%;
  color: #73869F;
}

.about_text .podrobnee_btn {
  margin-top: 48px;
}
.about_text div {
  width: 80%;
}

/*-------------------------------
	end 	О компании
--------------------------------*/
/*-------------------------------
		      Фильтр
--------------------------------*/
#filter_page .products {
  margin-left: 57px;
  margin-top: 241px;
}
#filter_page .products .product_filter_header h1 {
  font-size: 50px;
  line-height: 120%;
  color: #00294C;
  margin-bottom: 100px;
}

.show::before {
  content: "";
  padding: 17px;
  color: red;
  display: block;
  margin: 0 auto;
  top: -59px;
  position: relative;
  width: 40px;
  height: 30px;
  border-radius: 100%;
  background-image: url("/assets/img/show.png");
  z-index: -1;
}

.filter_tabs {
  margin: 0;
  padding: 0;
}

.filter_tabs ul:not(:last-child) {
  padding: 20px 30px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 22px;
}

.search_inputs {
  position: relative;
  font-size: 16px;
  color: #73869F !important;
}

.search_inputs input {
  border: none;
  outline: none;
  background: #EFF4F7;
  box-shadow: inset -4px -4px 4px #F5F6F7, inset 4px 4px 4px #D8E2E9;
  border-radius: 6px;
  width: 100%;
  height: 41px;
  padding: 20px;
  padding-right: 50px;
}

.search_btn {
  background-image: url("/assets/img/Search.png");
  width: 15px;
  height: 15px;
  position: absolute;
  right: 50px;
  bottom: 32px;
}

.filter_tabs h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #73869F;
}

.filter_tab__cat {
  padding: 0;
  margin: 0;
  margin-left: -20px;
}

.ac-container .not_sub:before {
  font-size: 20px;
  content: " ";
  padding: 0 25px;
  display: inline-block;
  transform: rotate(0deg);
  transition: 0.5s;
}

.ac-container .have_sub:before {
  font-size: 20px;
  content: "+";
  padding: 0 20px;
  display: inline-block;
  transform: rotate(0deg);
  transition: 0.5s;
}
.ac-container .have_sub:before .filter_tab__subcat li {
  list-style: none;
}

.show {
  position: relative;
  z-index: 2;
}

.show::after {
  content: "";
  width: 47px;
  height: 47px;
  display: block;
  margin: 0 auto;
  margin-bottom: -45px;
  margin-top: 15px;
  background: #EFF4F7;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

.show::before {
  content: "";
  padding: 17px;
  color: red;
  display: block;
  margin: 0 auto;
  top: -64px;
  position: relative;
  width: 50px;
  height: 40px;
  border-radius: 100%;
  background-image: url("/assets/img/show.png");
  z-index: -1;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}

.ac-container label {
  position: relative;
  display: block;
  height: auto;
  cursor: pointer;
  z-index: 3;
  margin-left: -20px;
}

.ac-container label:hover {
  background: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  color: #009CDB;
}

.ac-container input:checked + label:before {
  transform: rotate(45deg);
  transition: 0.5s;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
  background-image: url(../images/arrow_up.png);
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ article {
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

.filter_tab__subcat ul {
  height: auto;
}

.ac-container input:checked ~ article.ac-small {
  height: 80px;
}

.filter_tab__subcat input {
  display: inline-block;
}

.range-slider {
  position: relative;
  height: 80px;
}

.extra-controls {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  grid-gap: 40px;
}
.extra-controls input {
  width: 100px;
  border: none;
  outline: none;
  background: #EFF4F7;
  box-shadow: inset -4px -4px 4px #F5F6F7, inset 4px 4px 4px #D8E2E9;
  border-radius: 6px;
  font-size: 16px;
  color: #73869F !important;
  height: 41px;
  padding: 20px;
}

.irs--round .irs-handle {
  width: 10px !important;
  height: 30px !important;
  margin-top: -3px;
  border: none !important;
  background-color: #73869F !important;
  box-shadow: 3px 3px 2px rgba(88, 110, 124, 0.5), -3px -3px 2px rgba(255, 255, 255, 0.5) !important;
  border-radius: 50px !important;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
  background-color: #009CDB !important;
}

.irs--round .irs-min, .irs--round .irs-max {
  opacity: 0;
}

.irs--round .irs-bar {
  background-color: #009CDB !important;
}

/* для элемента input c type="radio" */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background: #DFE7EC;
  box-shadow: inset -2px -2px 2px #E6F0F7, inset 2px 2px 2px #C3D2DB;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23000'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.radio {
  margin-bottom: 0.4em;
  outline: none !important;
}

.checkbox-other {
  display: block;
  margin: 0 0 10px 0;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  position: relative;
}

.checkbox-other input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.checkbox-other span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 35px;
  line-height: 22px;
}

.checkbox-other span:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  transition: background 0.3s ease;
  background: #DFE7EC;
  box-shadow: -2px -2px 2px #FFFFFF, 2px 2px 2px #C1D0DA;
  border-radius: 6px;
}

/* Checked */
.checkbox-other input[type=checkbox]:checked + span:before {
  background: #DFE7EC;
  box-shadow: inset -2px -2px 2px #E6F0F7, inset 2px 2px 2px #C1D0DA;
  border-radius: 6px;
  background-image: url("/assets/img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Focus */
.focused span:before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover */
/* Active */
/* Disabled */
.checkbox-other input[type=checkbox]:disabled + span {
  color: #666;
  cursor: default;
}

.checkbox-other input[type=checkbox]:disabled + span:before {
  filter: grayscale(100%);
  opacity: 0.6;
}

.checkbox-other span:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-other input[type=checkbox]:checked + span:after {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 4px;
  top: -5px;
  background: url(https://snipp.ru/uploads/contents/checkbox-4.png) 0 0 no-repeat;
  opacity: 1;
}

/*-------------------------------
	 end 	  Фильтр
--------------------------------*/
/*-------------------------------
		карточка товара
--------------------------------*/
.product_card {
  margin-top: 288px;
  margin-bottom: 150px;
}
.product_card h2 {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}
.product_card div {
  border: 0px solid red;
}

.product_card__title h1 {
  font-size: 50px;
  color: #00294C;
  padding-left: 15px;
}

.product_card__header {
  margin-top: 32px;
  margin-bottom: 100px;
}
.product_card__header span {
  font-size: 14px;
  line-height: 180%;
  color: #73869F;
  background-color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  padding-left: 15px;
}

.product_card__desc ul {
  padding: 0 15px;
  font-size: 16px;
  line-height: 180%;
  color: #73869F;
  max-width: 50%;
  float: left;
  clear: both;
}
.product_card__desc ul li {
  display: grid;
  grid-template-columns: repeat(2, 300px);
}

.product_card__images {
  display: flex;
}

.product_card__images div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.product_card__images__min {
  display: block;
  margin-left: 7%;
  cursor: pointer;
}

.product_card__images__min img:not(:last-child) {
  display: block;
  margin-bottom: 20px;
}

.product_card__images__big {
  margin-left: 30px;
}

.product_card__images__big img {
  display: block;
  position: relative;
}

.product_card__images__big__wrapper img {
  cursor: zoom-in !important;
}

.product_card__images__big__wrapper:hover::before {
  content: "";
  transition: 1s;
  opacity: 0.7;
}

.product_card__images__big__wrapper a::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product_card__images__big__wrapper::before {
  content: " ";
  position: absolute;
  width: 59px;
  min-height: 55px;
  display: inline-flex;
  align-self: center;
  top: 45%;
  background-image: url("/assets/img/product/zoom.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: zoom-in !important;
  z-index: 1;
  opacity: 0;
  transition: 1s;
}

.product_card__desc__column span {
  color: #00294C;
}

.product_card__desc__column__special {
  background: #73869F;
  border-radius: 10px;
  min-width: 420px;
  float: right;
  padding: 27px 50px;
}
.product_card__desc__column__special .podrobnee_btn button.learn-more .circle {
  background-color: #fff;
  box-shadow: 5px 5px 5px #677992, -5px -5px 5px #93A6BF;
  border-radius: 50px;
}
.product_card__desc__column__special .podrobnee_btn button.learn-more .circle .icon.arrow::before {
  color: #73869F;
}
.product_card__desc__column__special .podrobnee_btn .button-text {
  color: white;
}
.product_card__desc__column__special .podrobnee_btn button:hover .circle .icon.arrow::before {
  content: "→";
  font-size: 20px;
  transition: 0.3s;
  top: -12px;
}
.product_card__desc__column__special .podrobnee_btn button:hover .button-text {
  left: 15px;
  color: #73869F !important;
}

.product_card__price span {
  color: #009CDB;
  font-size: 24px;
  font-weight: bold;
}

.image-source-link {
  color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*-------------------------------
	//	карточка товара
--------------------------------*/
/*-------------------------------
			  табы
--------------------------------*/
.tabs {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-left: 200px;
}

.tabs > input[type=radio] {
  display: none;
}

.tabs > input[type=radio]:checked + label {
  background: #EFF4F7;
  box-shadow: inset -5px -5px 5px #FFFFFF, inset 5px 5px 5px #D1D9E6;
  border-radius: 195px;
  padding: 10px 30px;
  transition: 1s;
  position: relative;
  z-index: 99;
}

.tabs > input[type=radio]:checked + label::before {
  content: "";
  width: 100px;
  height: 50px;
  border: 1px solid red;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
}

.tabs > div {
  /* скрыть контент по умолчанию */
  display: none;
  border: 1px solid #eee;
  padding: 10px 15px;
  border-radius: 4px;
  transition: 1s;
}

#content-1, #content-2, #content-3 {
  background-color: #fff;
  position: relative;
  top: -20px;
  z-index: -1;
  padding-top: 30px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
  display: block;
  transition: 1s;
}

#content-2 ol {
  padding: 0;
}
#content-2 ol li {
  display: grid;
  grid-template-columns: repeat(2, 37%);
}
#content-2 ol li:nth-child(even) {
  background-color: #EFF4F7;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
          user-select: none;
  background-color: #eee;
  border: 1px solid transparent;
  padding: 2px 8px;
  font-size: 18px;
  color: #00294C;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 1s;
  margin-left: 50px;
  background: #EFF4F7;
  box-shadow: -5px -5px 5px #FFFFFF, 5px 5px 5px #D1D9E6;
  border-radius: 95px;
  padding: 10px 30px;
}

.tabs > label:first-of-type {
  margin-left: 50px;
}

/*-------------------------------
			 // табы
--------------------------------*/
/*-------------------------------
	end 	contacts
--------------------------------*/
.med_contacts {
  margin-top: 320px;
  margin-bottom: 120px;
}
.med_contacts .contact_info ul li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 16px;
}
.med_contacts .contact_info li {
  margin-bottom: 60px;
}
.med_contacts .contact_info li span {
  color: #73869F;
  line-height: 150%;
}
.med_contacts .contact_info li b {
  color: #00294C;
}

/*-------------------------------
		 	contacts
--------------------------------*/
.preFooter {
  background: #73869F;
  border-radius: 10px;
  margin-left: 0 !important;
  margin: 0 75px !important;
  padding: 50px 150px;
  position: relative;
  margin-bottom: 230px !important;
}
.preFooter h3 {
  background-color: #73869F;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
  max-width: 700px;
}
.preFooter a {
  color: white;
  padding: 50px 0;
  display: block;
}
.preFooter .leaves {
  background-image: url("/assets/img/Group375.png");
  width: 28%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  background-position: center;
  z-index: 2;
}
.preFooter .btn-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.preFooter button.learn-more .circle {
  background-color: white;
}

.preFooter button.learn-more .button-text {
  color: white;
}
.preFooter button:hover .button-text {
  color: #000;
}

.preFooter button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "+";
  top: -9px;
  right: 2px;
  width: 0.625rem;
  height: 0.625rem;
  color: #73869F;
  font-size: 30px;
}

.preFooter button.learn-more {
  width: 12rem;
  height: auto;
  position: relative;
  z-index: 6;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #009CDB;
  border-radius: 1.625rem;
  box-shadow: -5px -5px 10px #fff, 5px 5px 10px #D1D9E6;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  z-index: 6;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "+";
  top: -10px;
  right: 2px;
  width: 0.625rem;
  height: 0.625rem;
  color: white;
  font-size: 30px;
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 30px;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  line-height: 1.6;
  text-align: center;
  color: #009CDB;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  content: "&rarr;";
  transform: translate(0.7rem, 0);
  left: 2px;
}

button:hover .button-text {
  color: #fff;
}

button:hover .button-text {
  left: 15px;
}

.hero {
  margin: 0 !important;
}

.filter_tab__subcat {
  margin-left: -40px;
}

.filters_del {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters_del span {
  display: inline-block;
  transform: rotate(45deg);
  color: #00294C;
  font-size: 25px;
  font-weight: lighter;
  vertical-align: middle;
  margin-right: 20px;
}

.product_filter_view {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin: 0px -40px;
  padding: 30px 0;
}
.product_filter_view span {
  margin-right: 40px;
}
.product_filter_view img {
  filter: grayscale(100%);
  margin-left: 26px;
}
.product_filter_view img:hover {
  filter: saturate(30);
  cursor: pointer;
}
.product_filter_view .active img {
  filter: saturate(30);
  cursor: pointer;
}

.product {
  display: grid;
  grid-row-gap: 30px;
}
.product .product_item {
  background: #EFF4F7;
  box-shadow: -5px -5px 5px #FFFFFF, 5px 5px 5px #D1D9E6;
  border-radius: 10px;
  padding: 10px;
}
.product .product_item span {
  color: #73869F;
}
.product img {
  width: 100%;
}
.product .product_title {
  margin-top: 20px;
}
.product .product_size {
  margin-top: 20px;
}
.product .product_made {
  margin-bottom: 10px;
}
.product .product_button {
  margin-top: 20px;
}

.grid {
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.grid .product_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.list {
  grid-template-columns: repeat(1, auto);
  grid-column-gap: 0px;
  height: -webkit-max-content;
  height: max-content;
}
.list .product_item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.list .product_item .product_title {
  max-width: 310px;
}
.list .product_item img {
  max-width: 100px;
}
.list .product_item .product_title {
  margin-top: 0px;
}
.list .product_item .product_size {
  margin-top: 0px;
}
.list .product_item .product_made {
  margin-bottom: 0px;
}
.list .product_item .product_button {
  margin-top: 0px;
}

.product button:hover .button-text {
  color: white;
}

.inner-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}

@media only screen and (min-width: 320px) {
  .inner-text {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 400px) {
  .inner-text {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 680px) {
  .inner-text {
    font-size: 75px;
  }
}
@media only screen and (min-width: 950px) {
  .inner-text {
    font-size: 100px;
  }
}
.p1 {
  display: inline-block;
  font-size: 1em;
  font-weight: 100;
  marign: 0;
  line-height: 1;
  color: #f5f5f5;
}

@media only screen and (max-width: 465px) {
  .p1 {
    display: block;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.p2 {
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  marign: 0;
  line-height: 1;
  color: white;
}

@media only screen and (max-width: 465px) {
  .p2 {
    position: relative;
    top: 0.6em;
  }
}
.hero-down {
  position: absolute;
  left: 48%;
  font-size: 2em;
  width: 2em;
  height: 2em;
  color: #f5f5f5;
  border-radius: 100%;
}

.hero-down:hover, .hero-down:focus {
  color: #ccc;
}

.hero-down:active {
  color: #f5f5f5;
}

.hero-down i {
  vertical-align: bottom;
  position: relative;
  top: 0.1em;
}

@media only screen and (min-width: 320px) {
  .hero-down {
    top: 52%;
  }
}
@media only screen and (min-width: 680px) {
  .hero-down {
    top: 62%;
  }
}
@media only screen and (min-width: 950px) {
  .hero-down {
    top: 72%;
  }
}
#about {
  padding: 30px;
}

.left {
  text-align: left;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 90px;
}

.header::before {
  content: "";
  background: #EFF4F7;
  width: 100%;
  height: 90px;
  display: block;
  opacity: 85%;
}

.mlogo,
.mswaper {
  margin-top: -62px;
  position: relative;
  width: 100px;
  display: block;
}

.mlogo {
  left: 15px;
}

.mswaper {
  left: 64px;
  margin: -35px 0;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  background: #E3E6EC;
  box-shadow: 5px 5px 10px #D1D9E6, -5px -5px 10px #FFFFFF;
  border-radius: 30px;
  padding: 17px 11px;
}

.burger__patty:nth-child(2) {
  opacity: 0;
  display: none;
}

.burger__patty:nth-child(3) {
  margin-left: -4px;
  margin-top: 5px;
}

.txt-burger {
  position: absolute;
  left: -80px;
  top: 5px;
}

.burger__patty {
  width: 20px;
  height: 1px;
  margin: 0 0 4px 0;
  background: #73869F;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty:last-child {
  margin-bottom: 0;
}

.burger--close {
  transform: rotate(180deg);
}

.burger--close .burger__patty:nth-child(1) {
  transform: rotate(45deg) translate(3px, 1px);
}

.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}

.burger--close .burger__patty:nth-child(3) {
  transform: rotate(-45deg) translate(6px, 0px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu--active {
  visibility: visible;
}

.menu__brand, .menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__list--active {
  transform: translate3d(0, 0, 0);
}

.menu__brand {
  background: none;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translate3d(0, 100%, 0);
}

.menu__brand--active {
  transform: translate3d(-100%, 0, 0);
}

.menu__item {
  transform: translate3d(500px, 0, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__item--active {
  transform: translate3d(0, 0, 0);
}

.menu__link {
  display: inline-block;
  position: relative;
  font-size: 42px;
  padding: 15px 0;
  font-weight: 300;
  text-decoration: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  transform: translateX(-50%);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__link:hover:before {
  width: 100%;
}

.menu a.menu__link:hover {
  text-decoration: none !important;
}

.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}

.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}

.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}

.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}

.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}

.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}

.nav-fill {
  width: 2px;
  height: 200%;
  position: absolute;
  left: 17px;
  min-height: 100%;
  top: -150px;
  z-index: -1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.5%, #FFFFFF 3.92%, #FFFFFF 97.18%, rgba(255, 255, 255, 0) 100%);
}

@media screen and (max-width: 768px) {
  header nav {
    margin: 0;
  }

  ul.menu__list,
div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }

  .med_banks .banks {
    max-width: 100%;
    height: auto;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }

  .menu__list.menu__list--active {
    width: 100%;
    float: none;
    margin-left: -350px;
    text-align: center;
    background: #F2F4F8;
    box-shadow: 3px 3px 4px #D1D9E6, -3px -3px 10px #FFFFFF;
  }

  nav a:last-child {
    margin: 0;
    border: none;
  }
}
/*-------------------------------
			footer
--------------------------------*/
footer {
  background-color: #E3E6EC;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #73869F;
  padding: 23.5px 0px;
}
footer .footer_info {
  display: flex;
  justify-content: space-between;
}
footer .footer_info a {
  color: #73869F;
  border-bottom: 1px solid #73869F;
  margin-left: 10px;
}

footer .footer_info {
  padding: 0 3%;
}

/*-------------------------------
		end	footer
--------------------------------*/
@media (min-width: 300px) and (max-width: 768px) {
  .med_banks {
    margin-bottom: 100px;
  }

  .offer {
    padding-bottom: 160px;
  }

  .menu__list a {
    font-size: 14px;
    color: #73869F;
  }

  .menu__list a:hover {
    color: #00294C;
  }

  .tel__link {
    color: #00294C !important;
    padding-bottom: 2px;
    border-bottom: 2px solid #73869F !important;
  }

  .offer_info {
    margin: 160px 0 0 0;
  }
  .offer_info h1 {
    margin: 0 0 25px 60px;
    font-size: 30px;
    line-height: 120%;
  }
  .offer_info p {
    margin: 0 0 30px 60px;
    font-size: 14px;
    line-height: 150%;
    color: #73869F;
  }

  .offer_place {
    display: none;
  }

  .offer {
    padding-bottom: 160px;
  }

  .offer_info a {
    margin: 0 0 0 60px;
  }

  .left_nav img {
    top: 0;
    left: 10px;
  }

  .left_nav span {
    font-size: 14px;
  }

  .left_nav {
    margin-left: -76px;
  }

  section h2 {
    font-size: 30px;
    margin-top: -40px;
    margin-bottom: 25px;
  }

  section .desc {
    margin-bottom: 30px;
  }

  #index .swiper-container {
    margin: 0;
    margin-left: -60px;
    padding: 20px 0 40px 0px;
  }

  #index .swiper-button-prev::before {
    content: "";
    background: #E3E6EC;
    box-shadow: 3px 3px 5px #D1D9E6, -3px -3px 5px #FFFFFF;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: -1;
  }

  #index .swiper-button-prev::after {
    content: "";
    background-image: url("/assets/img/arrow.svg");
    width: 49px;
    height: 29px;
    padding: 23px;
  }

  #index .swiper-button-next::before {
    content: "";
    background: #E3E6EC;
    box-shadow: 3px 3px 5px #FFF, -3px -3px 5px #D1D9E6;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: -1;
  }

  #index .swiper-button-next::after {
    content: "";
    background-image: url("/assets/img/arrow.svg");
    width: 49px;
    height: 29px;
    padding: 25px;
  }

  #index .swiper-button-next {
    transform: rotate(180deg);
    right: unset;
    left: 90px;
    bottom: 24px;
  }

  .med_why ul {
    grid-template-columns: repeat(1, 1fr);
    margin-left: -20px;
  }

  .med_why li {
    margin: 0;
    width: 100%;
    font-size: 16px;
  }

  .med_why li span {
    font-size: 18px;
  }

  .med_photo img {
    margin-left: -30px;
  }

  .about_text {
    grid-template-columns: 1fr;
  }

  .about_text .podrobnee_btn {
    margin-top: 10px;
  }

  button:hover .circle {
    width: 100%;
  }

  footer .footer_info {
    /* display: flex; */
    /* justify-content: space-between; */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 250px;
    grid-gap: 5px;
  }

  .nav-fill {
    display: none;
  }

  .mainscreen-video {
    position: absolute;
    max-width: 2250px;
    width: 344%;
    height: auto;
  }

  .left_nav {
    display: none;
  }

  footer {
    padding-bottom: 5px;
  }

  footer span {
    padding: 5px;
  }

  .wrapper2 {
    width: 100%;
    margin-left: -25px;
    height: auto !important;
  }

  .wrapper2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0.5;
    margin-left: -25px;
  }

  #aboutPage .offer {
    padding-bottom: 0;
  }

  #aboutPage section {
    margin-left: 0;
  }

  #aboutPage .swiper-container {
    padding-top: unset;
    padding-bottom: 100px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .header {
    display: none;
  }

  footer .footer_info {
    /* display: flex; */
    /* justify-content: space-between; */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 250px;
    grid-gap: 5px;
  }

  .nav-fill {
    display: none;
  }

  .mainscreen-video {
    position: absolute;
    max-width: 2250px;
    width: 100%;
    height: auto;
  }

  .left_nav {
    display: none;
  }

  footer {
    padding-bottom: 5px;
  }

  footer span {
    padding: 5px;
  }

  .wrapper2 {
    width: 100%;
    margin-left: -25px;
    height: auto !important;
  }

  .wrapper2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0.5;
    margin-left: -25px;
  }

  .top_menu {
    display: flex;
    justify-content: center;
  }

  .navi {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .offer_place {
    height: auto;
    border: 0px solid green;
    display: flex;
    align-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(239, 244, 247, 0.75);
    z-index: 9;
    padding: 20px;
  }
}
.wrapper2 {
  overflow: hidden;
  max-height: 720px;
  height: auto;
}

.wrapper2::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 1px;
  right: 22px;
  bottom: 0;
  background: white;
  opacity: 0.5;
}

.mainscreen-video2 {
  width: 100%;
}

.switcher2 {
  display: inline-flex;
  vertical-align: sub;
}
.switcher2 .lang {
  margin: 0 10px;
}

.toggle2 {
  position: relative;
  display: block;
  width: 40px;
  height: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.toggle2::before {
  content: "";
  position: relative;
  top: 9px;
  left: 3px;
  width: 30px;
  height: 2px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.toggle2 span {
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  display: block;
  background: #009CDB;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}

.toggle2 span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 53px;
  height: 56px;
  background: rgba(79, 46, 220, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#cbx2:checked + .toggle2:before {
  background: #9A9999;
}

#cbx2:checked + .toggle2 span {
  background: #009CDB;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#cbx2:checked + .toggle2 span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.center {
  display: flex;
  align-items: center;
  align-self: center;
}

.lang2 {
  font-size: 14px;
  color: #73869F;
  margin: 0 6px;
}

@media (min-width: 1101px) and (max-width: 1280px) {
  .switcher {
    display: flex;
    vertical-align: sub;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
  }

  .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 900px) and (max-width: 1110px) {
  .switcher {
    display: flex;
    vertical-align: sub;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
  }

  .nav_item {
    font-size: 14px !important;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .header {
    display: block;
  }

  .switcher2 {
    display: flex;
    vertical-align: sub;
    align-self: center;
    justify-content: center;
    margin-top: 3px;
    margin-left: 10px;
  }

  .breadthums {
    display: none;
  }

  .med_contacts {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  #contacts section h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  .med_contacts .contact_info ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 14px;
  }

  .med_contacts .contact_info li {
    margin-bottom: 30px;
  }

  .preFooter {
    width: 100%;
    margin: 0 !important;
    padding: 40px 15px;
  }

  .preFooter h3 {
    font-size: 30px;
    font-weight: 400;
  }

  .preFooter .leaves {
    width: 100%;
    transform: rotate(90deg);
    bottom: -123px;
    top: unset;
    left: unset;
    right: -112px;
    background-image: url(/assets/img/Group_375.png);
  }

  #contacts .offer {
    padding-bottom: 0;
  }

  .preFooter {
    width: 100%;
    margin: 0 !important;
    padding: 40px 15px;
    margin-bottom: 150px !important;
  }

  #aboutPage .about_text_col3 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 16px;
    line-height: 150%;
    color: #73869F;
    margin-top: 50px;
    overflow: hidden;
  }

  li.cifra_desc {
    margin-bottom: 50px;
  }

  #aboutPage .med_work {
    margin-top: 0;
  }

  #aboutPage section .about_text_col4 {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 0;
  }

  .box, .box2 {
    display: none;
  }

  .med_work {
    margin-left: -100px !important;
  }

  #aboutPage .swiper-button-next::after, #aboutPage .swiper-button-prev::after {
    content: "";
    background-image: url("/assets/img/arrow_white.svg");
    width: 70px;
    height: 40px;
    padding: 20px;
    background-repeat: no-repeat !important;
    background-position: center;
  }

  #aboutPage .swiper-button-prev {
    top: 65px;
    background: #6D8099;
    box-shadow: 3px 3px 5px #64768E, -3px -3px 5px #8597AF;
    border-radius: 30px;
    padding: 20px;
  }

  #aboutPage .swiper-button-next {
    transform: rotate(180deg);
    right: unset;
    left: 95px;
    bottom: 35px;
    background: #6D8099;
    box-shadow: 3px 3px 5px #8597AF, -3px -3px 5px #64768E;
    border-radius: 30px;
    padding: 20px;
  }

  .swiper-banks .swiper-button-next::after, .swiper-banks .swiper-button-prev::after {
    content: "";
    background-image: url("/assets/img/arrow.svg") !important;
    width: 70px;
    height: 40px;
    padding: 20px;
    background-repeat: no-repeat !important;
    background-position: center;
  }

  .swiper-banks .swiper-button-prev {
    top: 65px;
    background: #E3E6EC !important;
    box-shadow: 3px 3px 5px #D1D9E6, -3px -3px 5px #FFFFFF !important;
    border-radius: 30px;
    padding: 20px;
  }

  .swiper-banks .swiper-button-next {
    transform: rotate(180deg);
    right: unset;
    left: 95px;
    bottom: 35px;
    background: #E3E6EC !important;
    box-shadow: 3px 3px 5px #FFFFFF, -3px -3px 5px #D1D9E6 !important;
    border-radius: 30px;
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .mainscreen-video {
    position: absolute;
    max-width: 2250px;
    width: 100%;
    height: auto;
  }

  #aboutPage .swiper-button-next::after, #aboutPage .swiper-button-prev::after {
    content: "";
    background-image: url("/assets/img/arrow_white.svg");
    width: 70px;
    height: 40px;
    padding: 20px;
    background-repeat: no-repeat !important;
    background-position: center;
  }

  #aboutPage .swiper-button-prev {
    top: 35px;
    background: #6D8099;
    box-shadow: 3px 3px 5px #64768E, -3px -3px 5px #8597AF;
    border-radius: 30px;
    padding: 20px;
  }

  #aboutPage .swiper-button-next {
    transform: rotate(180deg);
    right: unset;
    left: 95px;
    bottom: 15px;
    background: #6D8099;
    box-shadow: 3px 3px 5px #8597AF, -3px -3px 5px #64768E;
    border-radius: 30px;
    padding: 20px;
  }

  .swiper-banks .swiper-button-next::after, .swiper-banks .swiper-button-prev::after {
    content: "";
    background-image: url("/assets/img/arrow.svg") !important;
    width: 70px;
    height: 40px;
    padding: 20px;
    background-repeat: no-repeat !important;
    background-position: center;
  }

  .swiper-banks .swiper-button-prev {
    top: 65px;
    background: #E3E6EC !important;
    box-shadow: 3px 3px 5px #D1D9E6, -3px -3px 5px #FFFFFF !important;
    border-radius: 30px;
    padding: 20px;
  }

  .swiper-banks .swiper-button-next {
    transform: rotate(180deg);
    right: unset;
    left: 95px;
    bottom: 35px;
    background: #E3E6EC !important;
    box-shadow: 3px 3px 5px #FFFFFF, -3px -3px 5px #D1D9E6 !important;
    border-radius: 30px;
    padding: 20px;
  }
}
@media (min-width: 1100px) {
  .swiper_docs .swiper-button-next::after, .swiper_docs .swiper-button-prev::after {
    content: "";
    background-image: url("/assets/img/arrow_white.svg") !important;
    width: 70px;
    height: 40px;
    padding: 20px;
    background-repeat: no-repeat !important;
    background-position: center;
  }

  .swiper-banks .swiper-button-next {
    bottom: 0px !important;
  }

  .swiper_docs .swiper-button-prev {
    background-image: url("/assets/img/arrow_white.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center;
  }

  .swiper_docs .swiper-button-next {
    background-image: url("/assets/img/arrow_white.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
  }

  #aboutPage .swiper-button-next {
    transform: rotate(180deg);
    right: unset;
    left: 90px;
    bottom: 9px;
  }
}
#aboutPage .swiper-container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  margin-right: -55px;
}

.pagination {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination nav a {
  margin-left: 0px;
  font-size: 16px;
  line-height: 150%;
  color: #73869F;
  border-bottom: 0px solid #73869F;
}
.pagination nav .active a {
  color: #00294C !important;
}
.pagination .arrow_right img {
  transform: rotate(180deg);
}
.pagination .page-item {
  margin: 0 7px;
  padding: 7px;
  color: #73869F;
}
.pagination .page-item.active {
  padding: 9px 17px;
  background: #DFE7EC;
  box-shadow: -5px -2px 5px #FFFFFF, 5px 5px 10px #A9BBC8;
  border-radius: 20px;
  color: #00294C !important;
}